<meta charset="utf-8"/>
<co-content>
 <h2 level="2">
 </h2>
 <p>
  The Technology Review assignment is designed to provide students with an opportunity to go beyond the materials covered in the course lectures to learn about an interesting course-related cutting-edge technology topic not covered in any lecture. In this assignment, a student is required to write a short review article on a chosen topic by the student from a list of suggested topics by the instructor and TAs. A student can also propose a topic not on the list subject to the approval of the instructor.
 </p>
 <p>
  The topic of a technology review can be one of the three broad topic categories related to the general topic of “text data retrieval and analysis”:
 </p>
 <p>
  1) Useful software toolkits for processing text data or building text data applications.
 </p>
 <p>
  2) Emerging new applications of text retrieval or analysis.
 </p>
 <p>
  3) New techniques for text retrieval or analysis.
 </p>
 <p>
  A list of specific topics in each category will be provided for students to choose, but students may also propose additional topics interesting to them subject to the approval of instructor. A review may cover one toolkit/application/technique in depth or compare multiple toolkits/applications/techniques. The former is only allowed if the toolkit/application/technique is sufficiently complex to justify devoting an entire review to it. In any case, your review must have novel content that does not exist in any existing literature or webpages so that it would offer unique information/knowledge that others can learn from your review. So please make sure to check whether there is already a review on the topic before you devote time to complete a review. If you find an existing review on the topic, you may still write about the topic, but just need to make sure that you take a somewhat different perspective than the existing review or add new content on top of the existing review (i.e., extending it in some way).
 </p>
 <p>
  Working in a team is allowed for finishing the Technology Review; indeed, to the extent we can, we would attempt to compile all the submitted reviews into multiple handbooks to be made publicly available on the Web (e.g., “Handbook of Text Data Applications,” “Handbook of Software Toolkits for Text Retrieval and Analysis,” “Handbook of Emerging Techniques for Text Retrieval and Analysis”). However, to avoid complication in the coordination of team work, the size of a team should in general be no more than 3 members, but larger teams are also possible subject to the approval of the instructor. When working in a team, each team member must make substantial contributions to a review (i.e., must have written at least 1000 words). This means that a review produced by a team of 3 team members is expected to be much longer than a review produced by a single-student team. A review written by a team with more than one member must include a brief description of contribution of each individual member.
 </p>
 <p>
 </p>
 <p>
  The Technology Review will be graded based on completion of the following two tasks:
 </p>
 <p>
  1.
  <strong>
   Topic proposal
  </strong>
  : Every student is required to select a topic from a provided topic list or propose a topic at Week 6, which is the time when the project proposals are due so the students can align the topic of the Technology Review with that of the course project. Students can work as a team to finish a Technology Review. In general, the size of the team should be no more than 3 members, but larger team is possible subject to the approval of the instructor.
 </p>
 <p>
  2.
  <strong>
   Review submission
  </strong>
  : Each team is required to submit a complete Technology Review at Week 14. This deadline is set to an earlier time than that of course project code submission so as to give the students an opportunity to read some relevant reviews (especially those on toolkits) before finishing their projects if they want to. Details about how to submit the review will be posted later.
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
